body {
    background-color: #F6F2E8;
}

#logo {
    width: 270px;
    padding-left: 40px;
    padding-top: 30px;
}

#main {
    display: flex;
    width: 100%;
    flex-direction: row;
    /*background-color: #BCB194;*/
}

#ls {
    margin-left: 8vw;
    margin-right: 15%;
    width: 20%;
}

#rs {
    text-align: center;
    width: 49vw;
    margin-right: 8vw;
}

#settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#settings p {
    color:#DFD6BE;
    font-family: "Nunito", sans-serif;
    font-size: 2vw;
    font-weight: 900;
    cursor: pointer;
    margin-right: 1.75vw;
    margin-bottom: 1vw;
}

#settings [data-on="on"] {
    color:#948255;
}

#settings p:hover {
    color: #948255;;
}

.letter-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#letter-box {
    width: 70%;
    margin: auto;
    border: 5px solid #544111;
    padding: 10px;
}

.letter {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #DFD6BE;
    cursor: pointer;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.letter:hover {
    color: #948255;;
}

#prompt {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.b-letter {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    color:#544111;
}

.p-letter {
    margin: 0;
}

.under {
    margin-top: -35%;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

/* FONT
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/