body {
    background-color: #F6F2E8;
}

#logo {
    width: 270px;
    padding-left: 40px;
    padding-top: 30px;
}

#main {
    display: flex;
    width: 100%;
    margin-top: 2vw;
    flex-direction: row;
    /*background-color: #BCB194;*/
}

#ls {
    margin-left: 8vw;
    margin-right: 15%;
    width: 20%;
}

#rs {
    text-align: center;
    width: 49vw;
    margin-right: 8vw;
}

.letter-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#letter-box {
    width: 70%;
    margin: auto;
    border: 5px solid #544111;
    padding: 10px;
}

.letter {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #DFD6BE;
    cursor: pointer;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.letter:hover {
    color: #BCB194;
}

/* FONT
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/